<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin Panel | Delete documents</title>
  <script src="/static/tailwindcss.js"></script>
</head>
<body class="bg-gray-100 min-h-screen p-6">
  <div class="max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold mb-6">Delete Documents</h1>

    <!-- DOCUMENTS LIST -->
    <section class="bg-white p-6 rounded shadow">
      <h2 class="text-xl font-semibold mb-4">Registered Documents</h2>

      {% if items %}
        <ul class="divide-y divide-gray-200">
          {% for item in items %}
          <li class="flex items-center justify-between py-4">
            <div>
              <p class="text-lg font-medium text-gray-800">{{ item.title }}</p>
              <p class="text-sm text-gray-500">
                Identifier: {{ item.identifier }} | Type: {{ item.type.singular|capitalize }} | Date: {{ item.date }}
              </p>
            </div>
            <form action="/admin/delete" method="POST">
            <input type="hidden" name="item_id" value="{{ item.id }}">
                <button type="submit" 
                    class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition"
                    onclick="return confirm('Are you sure you want to delete &quot;{{ item.title }}&quot;?');">
                    Eliminar
                </button>
            </form>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-gray-600">There are no available docuemnts to delete.</p>
      {% endif %}
    </section>
  </div>
</body>
</html>
