{% extends "base.html" %}
{% block content %}
<!-- Main Content -->
<div class="flex-1">
    <!-- Back Button -->
    <div class="mb-4">
        <a href="/" class="text-blue-600 hover:text-blue-800 flex items-center">
            <i class="fas fa-chevron-left mr-2"></i>
            Volver
        </a>
    </div>

    <!-- Title Section -->
    <div class="flex items-center justify-between mb-6">
        <h1 class="text-3xl font-bold text-blue-800">Legislation and Official noticies</h1>
    </div>
    <!-- Main Content -->
    <div>
        <!-- Section Title -->
        <h2 class="text-xl font-bold text-gray-800 mb-6">{{ data.title }}</h2>

        <!-- Text Header -->
        <div class="mb-6">
            <h3 class="text-lg font-bold text-gray-800 mb-2">{{ data.type.singular|capitalize() }} {{ data.identifier }}</h3>
            <p class="text-base text-gray-600 mb-4 font-semibold">{{ data.description }}</p>
        </div>

        <!-- Text Content -->
        <div class="space-y-4 text-sm text-gray-700 leading-relaxed">
            <div class="whitespace-pre-line">{{ data.text }}</div>
        </div>
    </div>
</div>
{% endblock %}